* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    width: 50%;
    margin: auto;
}

.slider__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background: green;
    border: 1px solid #000;
}

.slider__controls {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.slider__controls button {
    padding: 15px;
    margin: 10px;
}